{% extends "base.html.twig" %}

{% block body %}

    {% set route = app.request.attributes.get('_route') %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('main_index') }}"><strong>MyInstagram</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-2 {% if route == 'main_index' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('main_index') }}"><i class="fas fa-image"></i> Лента</a>
                    </li>
                    <li class="nav-item mr-2 {% if route in ['main_profile', 'post_create'] %}active{% endif %}">
                        <a class="nav-link" href="{{ path('main_profile') }}"><i class="fas fa-user"></i> Профиль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}"><i
                                    class="fas fa-sign-out-alt"></i> Выйти</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}{% endblock %}

{% endblock %}