{% extends "@App/layout.html.twig" %}

{% block title %}Лента{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="text-center m-4">Публикации от подписок</h3>
        {% for row in follow_posts|batch(4) %}
            <div class="row">
                {% for post in row %}
                    <div class="col-md-3">
                        <div class="card w-100">
                            <a href="{{ path('user_cancel_follow', {'id' : post.user.id}) }}">Отменить подписку</a>
                            <img class="card-img-top" src="{{ vich_uploader_asset(post, 'imageFile') }}"
                                 alt="{{ post.description }}">
                            <div class="card-body">
                                <p class="card-text small"><strong>{{ post.user.email }}</strong></p>
                                <p class="card-text">{{ post.description }}</p>
                                <p class="card-text">
                                    Лайков: {{ post.likers.count() }}

                                    {% if post.hasLiker(app.user) %}
                                        <a href="{{ path('post_unlike', {'id' : post.id}) }}">Убрать лайк</a>
                                    {% else %}
                                        <a href="{{ path('post_like', {'id' : post.id}) }}">Лайкнуть</a>
                                    {% endif %}

                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <h3 class="text-center m-4">Рекомендации</h3>
        {% for row in other_posts|batch(4) %}
            <div class="row">
                {% for post in row %}
                    <div class="col-md-3">
                        <div class="card w-100">
                            <a href="{{ path('user_follow', {'id' : post.user.id}) }}">Подписаться</a>
                            <img class="card-img-top" src="{{ vich_uploader_asset(post, 'imageFile') }}"
                                 alt="{{ post.description }}">
                            <div class="card-body">
                                <p class="card-text small"><strong>{{ post.user.email }}</strong></p>
                                <p class="card-text">{{ post.description }}</p>
                                <p class="card-text">
                                    Лайков: {{ post.likers.count() }}
                                    <a href="{{ path('post_like', {'id' : post.id}) }}">Лайкнуть</a>
                                    <a href="{{ path('post_unlike', {'id' : post.id}) }}">Убрать лайк</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
