{% extends "@App/layout.html.twig" %}

{% block title %}Мой профиль{% endblock %}

{% block content %}
    <div class="post-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 mx-auto">
                            <div class="icon mx-auto"><i class="fas fa-user"></i></div>
                            <p class="text-center">{{ user.username }}</p>
                        </div>
                        <div class="col-md-4 mx-auto">
                            <div class="icon mx-auto"><i class="fas fa-at"></i></div>
                            <p class="text-center">{{ user.email }}</p>
                        </div>
                        <div class="col-md-4 mx-auto">
                            <div class="icon mx-auto"><i class="fas fa-users"></i></div>
                            <p class="text-center">100</p>
                        </div>
                    </div>
                    <p class="small mt-4 text-center">Последний раз вы заходили {{ user.lastLogin|date('d/m/Y') }}
                        в {{ user.lastLogin|date('H:i') }}</p>
                </div>
                <div class="col-md-6">
                    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}

                    {{ form_row(form.imageFile) }}

                    {{ form_row(form.description, {'attr' : {'placeholder' : 'Описание'}}) }}

                    <div class="text-right">
                        {{ form_row(form.submit, {'attr' : {'class' : 'btn btn-primary'}}) }}
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h3 class="text-center m-4">Мои последние публикации</h3>
        {% for row in my_posts|batch(4) %}
            <div class="row">
                {% for mypost in row %}
                    <div class="col-md-3">
                        <div class="card w-100">
                            <div class="ml-auto">
                                {% set cform = post_delete_form.createView %}
                                {{ form_start(cform, {
                                    'action' : path('post_delete', {'id' : mypost.id}),
                                    'attr' : {'novalidate' : 'novalidate'}
                                }) }}
                                {{ form_row(cform.delete, {'attr' : {'class' : 'btn btn-danger btn-sm'}}) }}
                                {{ form_end(cform) }}
                            </div>

                            <img class="card-img-top" src="{{ vich_uploader_asset(mypost, 'imageFile') }}"
                                 alt="{{ mypost.description }}">
                            <div class="card-body">
                                <p class="card-text">{{ mypost.description }}</p>
                                <p class="card-text">Лайков: {{ mypost.likers.count() }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
