{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <p>На Вашу почту {{ user.email }} было отправлено письмо с ссылкой для активации Вашего аккаунта.</p>
{% endblock fos_user_content %}
