{% extends "@FOSUser/layout.html.twig" %}

{#{% trans_default_domain 'FOSUserBundle' %}#}

{% block fos_user_content %}
    <p class="text-center">Поздравляем Вас с регистрацией на нашем сервисе!</p>
    <p class="text-center"><a href="{{ path('main_index') }}" class="btn btn-primary">Начать пользоваться</a></p>
{% endblock fos_user_content %}
