{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <h3 class="text-center mb-3">Регистрация</h3>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_start(form, {
                'method': 'post',
                'action': path('fos_user_registration_register'),
                'attr': {'class': 'fos_user_registration_register', 'novalidate' : 'novalidate'}
            }) }}

            {{ form_row(form.username, {'attr' : {'placeholder' : 'Логин'}}) }}
            {{ form_row(form.email, {'attr' : {'placeholder' : 'Email'}}) }}
            {{ form_row(form.plainPassword.first, {'attr' : {'placeholder' : 'Пароль'}}) }}
            {{ form_row(form.plainPassword.second, {'attr' : {'placeholder' : 'Подтвердите пароль'}}) }}

            <div class="form-group text-center">
                <input type="submit" class="btn btn-primary" value="Регистрация"/>
            </div>

            {{ form_end(form) }}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
