{% block subject %}MyInstagram: Поздравляем с регистрацией, {{ user.username }}!{% endblock %}

{% block body_text %}

{% endblock %}

{% block body_html %}
    <p>Для активации Вашего аккаунта перейдите по <a href="{{ confirmationUrl }}">ссылке</a>.</p>
{% endblock %}
