.post-block {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    background-color: #f8f9fa;
}

.navbar{
    border-bottom: 1px solid #e7e7e7;
}

.icon{
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}