{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}{% trans_default_domain 'FOSUserBundle' %}
    {% if error %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="alert alert-danger text-center" role="alert">Введены неправильные данные.</div>
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post" novalidate="novalidate">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                           required="required" placeholder="Логин / Email"/>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" id="password" name="_password" required="required"
                    placeholder="Пароль"/>
                </div>
                <div class="form-group text-center">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">Запомнить меня</label>
                </div>
                <div class="form-group text-center">
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="Войти"/>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

    </form>

    <p class="text-center">
        <a href="{{ path('fos_user_resetting_request') }}">Забыли пароль?</a>&nbsp;&nbsp;&nbsp;
        <a href="{{ path('fos_user_registration_register') }}">Регистрация</a>
    </p>
{% endblock fos_user_content %}
