{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    {% trans_default_domain 'FOSUserBundle' %}

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="form-group text-center">
            <input type="text" id="username" name="username" required="required" class="form-control"
            placeholder="Введите логин или пароль"/>
        </div>
        <div class="form-group text-center">
            <input type="submit" value="Восстановить пароль" class="btn btn-primary" />
        </div>
    </form>
{% endblock fos_user_content %}
